@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  /*--color-background: var(--background);
  --color-foreground: var(--foreground);*/
  --font-noto-serif: "Noto Serif HK", serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto-serif-hk);
}
