@import "tailwindcss";

:root {
  --foreground: #ffffff;
  --background: #171717;
}

@theme {
  /*--color-background: var(--background);
  --color-foreground: var(--foreground);*/
  --font-noto-serif: "Noto Serif HK", serif;
  --font-nothing-you-could-do: "Nothing You Could Do", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto-serif-hk);
}
